@{
    Layout = "_Layout";

    var author = ViewData["Author"];
    var year = ViewData["Year"];
    var title = ViewData["Title"];
}

<p>Adapted from <citation author="@author" year="@year">@title</citation>.</p>

<form class="sa-form-tools" method="POST">
    <fieldset @(Model.Disabled ? "disabled" : "")>

        @RenderBody()

    </fieldset>
    <partial name="_ToolsPageButtonGroup"></partial>
</form>


