@model socialarts.club.ViewComponents.RazorPageNavItemsViewComponentModel

@{
  var excludedItems = new List<string> {
    "Error",
    "Index",
    "Privacy",
  };

  var rootItems = @Model.RootNavItems.Where(item => !excludedItems.Contains(item.Title));
}

@foreach(var item in rootItems)
{
    <li class="nav-item">
        <a class="nav-link" href="@item.Path">@item.Title</a>
    </li>
}

@foreach(var item in @Model.ChildNavItems)
{
    <li class="nav-item dropdown">
      <a 
        class="nav-link dropdown-toggle" 
        href="#" id="navbarDropdown" 
        role="button" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false">@item.Key</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach(var subItem in item.Value)
        {
          <a class="dropdown-item" href="@subItem.Path">@subItem.Title</a>
        }
      </div>
    </li>
}