@page "{referenceId?}"
@model ReferencesModel
@{
    ViewData["Title"] = "References";
}

<ul class="list-unstyled">
@foreach(var entry in Model.Entries) {
    <li id="@entry.Slug">@entry.Authors (@entry.Year). <cite>@entry.Title</cite> @entry.Publisher.</li> 
}
</ul>